.image-logo {
    height: 50px;
    width: 50px;
}

.border-A  {
    border: 1px solid black;
}

.point  {
    color: red;
}

.image-container {
    display: flex;
    gap: 10px; /* Espacement entre les images */
  }
  
  .image-option {
    width: 100px; /* Largeur de chaque image */
    height: auto; /* Hauteur automatique pour conserver le ratio */
  }

.images-panneaux {
    width: 30px; /* Largeur de chaque image */
}

.images-panneaux-sortie_de_secours {
    width: 50px; /* Largeur de chaque image */
    text-align: center;
}

.color {
    color: red;
}

.image-question {
    width: 90px; /* Largeur de chaque image */
}

.alignement {
    display: flex;
}

.space {
    margin-left: 5%;
}



.container-logo {
    margin-top: 7%;
 
}



  
  